---
import BaseLayout from '../layouts/BaseLayout.astro';
import Icon from '../components/Icon.astro';

const profile = {
  name: 'Andrey Makarov',
  title: 'Software Developer 👨‍💻',
};

const socialLinks = [
  { title: 'Github', icon: 'github', url: 'https://github.com/r3nya' },
  { title: 'LinkedIn', icon: 'linkedin', url: 'https://www.linkedin.com/in/r3nya' },
  { title: 'Telegram', icon: 'paper-plane', url: 'https://t.me/r3nya' },
  { title: 'X/Twitter', icon: 'twitter', url: 'https://x.com/r3nya' },
] as const;
---
<BaseLayout title="Andrey Makarov aka r3nya">
  <header class="col-span-1 md:col-span-2">
    <h1 class="text-5xl font-bold mb-4 md:text-6xl">{profile.name}</h1>
    <div class="mb-4 h-1 rounded-full bg-gradient-to-r from-gradient-from-light via-gradient-via-light to-gradient-to-light dark:from-gradient-from-dark dark:via-gradient-via-dark dark:to-gradient-to-dark"></div>
    <h2 class="text-2xl font-bold text-palette-3-light md:text-3xl xl:text-4xl dark:text-palette-3-dark">{profile.title}</h2>
  </header>

  <section class="col-span-1 grid gap-2">
    {socialLinks.map((link) => (
      <a href={link.url} class="flex items-center text-2xl font-medium text-palette-5-light group md:text-3xl dark:text-palette-5-dark hover:text-palette-6-light dark:hover:text-palette-6-dark" aria-label={link.title}>
        <Icon name={link.icon} />
        <span class="group-hover:underline">{link.title}</span>
      </a>
    ))}
  </section>
</BaseLayout>
